.divFavorites {
  position: relative;
  background-color: rgba(0, 0, 0, 0.507);
  border-radius: 20px;
  width: 60%;
  height: fit-content;
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.divSelects {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  top: -70px;
}

.divSelects select {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.divCards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
