.form {
  background-color: rgba(0, 0, 0, 0.219);
  position: flex;
  justify-content: center;
  align-items: center;
  text-align: end;
  padding: 30px;
}

.form .divUser {
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
.form .divUser label {
  color: white;
  margin: 10px;
}
.form .divPass {
  margin: 30px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.form .divPass label {
  color: white;
  margin: 10px;
}

.form .button {
    margin-right: 40px;
}
