.divAbout {
  background-color: rgba(151, 74, 74, 0.205);
  /* background-color: rgba(247, 9, 235, 0.507); */
  max-width: 70%;
  background-color: rgba(0, 0, 0, 0.507);
  color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  min-height: 400px;
  z-index: 0;
}

.divAbout .divText {
  width: 400px;
  font-family: "Rampart One", cursive;
  text-align: center;
}
.divAbout .divText p {
  font-family: "Poiret One", cursive;
  font-size: 20px;
  margin: 5px;
}

.image {
  border-radius: 15px;
  width: 30%;
  max-width: 25%;
  margin-right: 80px;
}
