.App {
   background-image: url(./assets/fondo2.jpg);
   background-position: top center;
   background-size: cover;
   min-height: 100vh;
}

.App .divSearch {
   display: flex;
   justify-content: center;
   /* background-color: rgba(247, 9, 235, 0.507); */
   width: 100%;
}
.App .divCards {
   display: flex;
   justify-content: center;
   /* background-color: rgba(247, 9, 235, 0.507); */
   width: 100%;
} 



