.nav {
  background: linear-gradient(
    315deg,
    rgba(0, 0, 0, 0.415),
    #4106497d,
    #92007f51,
    rgba(198, 0, 201, 0.209)
  );
  width: 80%;
  margin-bottom: 30px;
  /* margin: auto; */
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.nav .divLinks {
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  /* border: 2px solid red; */
  /* background-color: rgb(71, 9, 74); */
}
/* .nav .divLinks .link {
  font-family: 'Rampart One', cursive;
  font-size: 30px;
  text-decoration: none;
  color: white;
  margin-left: 40px;
}
.nav .divLinks .link:hover {
  text-decoration: none;
  transform: scale(1.1);
  
} */

.nav .divNavSearch {
  text-align: end;
  position: relative;
  
  border-radius: 20px;
  display: flex;
  justify-content: end;

  /* background-color: black; */
}
.active {
  border: 1px solid white;
  font-family: "Rampart One", cursive;
  font-size: 30px;
  text-decoration: none;
  color: white;
  margin-left: 40px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}
.disable {
  font-family: "Rampart One", cursive;
  font-size: 30px;
  text-decoration: none;
  color: white;
  margin-left: 40px;
  padding: 5px 10px 5px 10px;
}

.btnLogout {
  position: absolute;
  right: 30px;
  top: 5px;
  width: fit-content;
  height: fit-content;

}

.btnLogout button {
  color: white;
background-color: rgba(255, 0, 247, 0.512);
font-family: "Poiret One", cursive;
font-size: 18px;
margin: 5px;
padding: 3px 5px 3px 5px;
border-radius: 3px;
border: transparent;
transition: 0.3s;
}

.btnLogout button:hover {
  background-color: rgb(255, 0, 255);
  border: 1px solid transparent;
  -webkit-box-shadow:0px 0px 122px 18px rgba(219,27,206,0.8);
-moz-box-shadow: 0px 0px 122px 18px rgba(219,27,206,0.8);
box-shadow: 0px 0px 122px 18px rgba(219,27,206,0.8);
}